@import "tailwindcss";

:root {
  --background: #dbe2ef;
  --foreground: #112d4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #112d4e;
  --color-secondary: #f9f7f7;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-josefin: var(--font-josefin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dbe2ef;
    --foreground: #112d4e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-josefin), sans-serif;
}
